<% if !user_signed_in? %> 
  <div class="sign">
    <div class="sign-in">
      <h3>競馬チャンネル会員の方</h3>
      <p>既にnetkeiba会員の方は、こちらからログインしてください。</p>
      <button><%= link_to 'ログイン', new_user_session_path %></button>
    </div>
    <div class="sign-up">
      <h3>競馬チャンネル会員でない方</h3>
      <p>netkeiba会員でない方は、こちらから無料会員登録をお願いします。</p>
      <button><%= link_to '新規登録', new_user_registration_path %></button>
    </div>
  </div>
<% else %>
  <div class="sign-out">
    <button><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></button>
  </div>
<% end %>