// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "UTF-8";

.board {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 3% 3% 0 3%;
    background-color: rgb(235, 233, 233);
}
.board-content {
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 5%;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}
.board-content p {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 10px;
    font-size: 2rem;
}
.board-content p a {
    display: inline-block;
    width: 100%;
    height: 100%;
}